<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/blog.css">
  </head>
  <body>
    <a href="/blog" class="main-title">{{Title}}</a>
    <div id="content">
      {% for post in posts %}
      <div class="post">
        <div class="post-heading">
          <div class="post-title">{{post.subject}}</div>
          <div class="post-date">{{post.created.date().strftime('%A, %B %d %Y')}} at {{post.created.time().strftime('%H:%M:%S')}}</div>
        </div>
        <div class="post-content"><pre>{{post.content}}</pre></div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>


