<!DOCTYPE html>
<html>
<head> 
    <title>Mondrian</title>
    <meta charset="utf-8">
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="painting">
    <div id="tr">
        <div id="tr-tr" class = "red right"></div>
        <div id="tr-tl" class = "bkg left"></div>
        <div id="tr-mbound" class = "black left"></div>
        <div id="tr-ml" class = "bkg left"></div>
    </div>
    <div id="br"> 
        <div id="br-bl" class = "blue left"></div>
        <div id="br-border" class = "left"></div>
        <div id="br-bigbr" class = "bkg left"></div>
        <div id="br-border" class = "left"></div>
        <div id="right-tb" class = "bkg right"></div>
        <div id="right-m" class = "black right"></div>
        <div id="right-tb" class = "yellow right"></div>

    </div>
</div>

</body>
</html>
